@media only screen and (max-width: 1020px)and (min-width:769px) {
    .vrSection{
      width: 230px;
      height: 112px;
    }
    .contentText{
      width: 225px;
    }
    .tryIt{
      font-size: 40px;
    }
    .tryItColor{
      font-size: 30px;
    }
    .contentArrows{
     height: 130px;
    }
    .character{
      width: 43%;
    }
    .btn{
      width: 115px;
    }
    
  }
   @media only screen and(max-width:768px) and (min-width:541)
  
